body {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
}
a:active,
a:hover {
  color: aliceblue;
  text-decoration: underline;
}
p {
  margin: 0;

}
/* Class selectors
*/
.clear {
  clear: both;
}
.highlight {
  color: #ffcc00;
}
.content {
  margin: 50px 50px 50px 300px;
  max-width: 100%;
}
.wrapper {
  padding: 50px 0;
}
.wrapper h1 {
  color: white;
  font-family: 'Abril Fatface', sans-serif;
  padding-left: 15px;
  position: absolute;
  left: 50px;
  margin: 0;
  width: 150px;
  z-index: 1000; /* This must be greater than the menu's z-index. */
}

/* Main blocks
*/
#menu {
  background: black;
  left: 10px;
  padding-right: 0px;
  position: fixed;
  background-image:url("http://s4.scoopwhoop.com/anj/fairy_lights/402476925.gif");
  border-radius: 5px;
  top: 100px;
  width: 200px;
  z-index: 999;
}
#menu li {
  margin: 20px ;
  color: #ffcc00;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  
}
#menu a {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
#menu a:hover {
  color: #ffcc00;
}
#intro.wrapper {
  top: 100px;
  height: 700px;
  padding-top: 110px; /* This should be the same as the menu. */
  background-image:url("http://chezasite.com/media/2015-post-icon/vzlomay-svoe-telo-samyie-intere-1920x1080.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color:white;
  
}
#intro.wrapper .content {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 33px;
  margin-top: 0;
  max-width: 100%;
  width: 400px;
}
#bio.wrapper {
  background: #ffcc00;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  text-indent: 2.0em;
}
#contact.wrapper h1 {
  color: #ffcc00;
}
#contact.wrapper {
  margin-bottom: 100px;
}
#contact.wrapper .content {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.35em;
  font-style: italic;
}
#johnpicture {display: inline-block;
  background-image:url("");
  background-size: cover;
	margin-left: 5px;
	height: 100px;
	width: 100px;
	border:2px solid black;
	border-radius: 100%;
  border-radius: 100px;
}